/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: black;
  font-size: 62.5%;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.8rem;
  text-align: center;
  padding: 10px;
}
h4 {
  font-size: 1.6rem;
}
p {
  line-height: 1.5;
  font-size: 1.5rem;
}
a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}
.menu {
  display: flex;
  justify-content: space-evenly;
  margin: 20px auto;
}
@media (max-width: 500px) {
  .menu {
    flex-direction: column;
    align-items: center;
    border-top: 1px solid black;
    margin: 0;
  }
}
.menu .category {
  padding: 10px;
  width: 18%;
  border: 1px solid black;
  text-align: center;
}
.menu .category:hover {
  background-color: #e97f0a;
}
@media (max-width: 500px) {
  .menu .category {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
  }
}
.introduction {
  padding: 20px;
  text-align: center;
  border-top: 1px solid black;
}
@media (max-width: 500px) {
  .introduction {
    display: none;
  }
}
.fullwidth-images {
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}
.fullwidth-images img {
  width: 33.333%;
  height: auto;
}
@media (max-width: 500px) {
  .fullwidth-images {
    display: none;
  }
}
.site-content {
  background-color: #e96e0a;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px 0;
}
@media (max-width: 500px) {
  .site-content {
    flex-direction: column;
    align-items: center;
  }
}
.advert-single {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 24%;
  background-color: white;
  border: 1px solid black;
  padding: 15px;
}
@media (max-width: 500px) {
  .advert-single {
    width: 80%;
    max-width: 400px;
    margin: 10px;
    border-radius: 10px;
  }
}
.advert-single img {
  width: 100%;
}
.advert-single .summary {
  width: 100%;
}
.advert-single .button {
  display: inline-block;
  width: 80%;
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}
.advert-single .button:hover {
  background-color: #e97f0a;
}
.aboutteam {
  text-align: center;
  padding: 40px;
}
.team {
  display: flex;
}
@media (max-width: 500px) {
  .team {
    flex-direction: column;
    align-items: center;
  }
}
.team .person {
  width: 25%;
  padding: 5px;
  border: 1px solid black;
  margin-bottom: 20px;
}
@media (max-width: 500px) {
  .team .person {
    width: 80%;
  }
}
.team .person img {
  width: 100%;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #e95a00;
  padding: 10px;
}
@media (max-width: 700px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
}
.header .button {
  display: inline-block;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  padding: 1rem 2rem;
  margin-left: 10px;
}
.header .button:hover {
  background-color: #e97f0a;
}
@media (max-width: 500px) {
  .header .button {
    width: 100%;
    margin-top: 10px;
    margin-left: 0;
  }
}
.header .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  padding: 10px;
}
@media (max-width: 700px) {
  .header .navigation {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .header .navigation {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
.header .searchbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 50%;
}
@media (max-width: 700px) {
  .header .searchbar {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .header .searchbar {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
.header .searchbar input {
  border: 1px solid black;
  border-radius: 10px;
  width: 100%;
  padding: 1.5rem;
  height: 40px;
}
.footer {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.footer a {
  width: 90%;
  padding: 10px;
  text-align: center;
  margin: 10px auto;
  border: 1px solid black;
  border-radius: 10px;
}
.footer a:hover {
  background-color: #e97f0a;
}
