.header {
    display: flex;
    flex-direction: column;
    background-color: ;
    
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.searchbar {
    display: flex;
    justify-content: center;
}

input {
    border: 1px solid black;
    width: 80%;
}